@model WebApplication.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruc_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruc_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono1_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono1_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono2_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono2_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contacto1_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacto1_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular1_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular1_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contacto2_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacto2_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular2_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular2_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aux1_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aux1_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aux2_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aux2_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuidadClientes.nombre_cuidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuidadClientes.nombre_cuidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinciaClientes.nombre_provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinciaClientes.nombre_provincia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
