
@{
    <title>@ViewBag.Title</title>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group col-md-12">
                <div class="container">
                    <div class="form-row">
                        <label for="prov" class="control-label col-md-2">Cliente:</label>
                        <div class="col-md-10">
                            @Html.DropDownList("Cliente", null, "--Seleccione Cliente--", htmlAttributes: new { @class = "form-control", @id = "ddlCliente", @onchange = "FunGetClienteEquipo();" })
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive" id="divCliente" style="display:none">
                        <table id="tblclientes" class="table table-striped table-border table-condensed" style="width: 100%;">
                            <thead class="text-center">
                                <tr>
                                    <th>Cliente</th>
                                    <th>Direccion</th>
                                    <th>Contacto</th>
                                    <th>Telefono</th>
                                    <th>Celular</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th style="width:100%"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-orden-tab" data-toggle="tab" href="#nav-orden" role="tab" aria-controls="nav-orden" aria-selected="true">Orden de Trabajo</a>
                            <a class="nav-item nav-link" id="nav-detalle-tab" data-toggle="tab" href="#nav-detalle" role="tab" aria-controls="nav-detalle" aria-selected="false">Descripción Trabajo</a>
                        </div>
                    </nav>
                    <br><br>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-orden" role="tabpanel" aria-labelledby="nav-orden-tab">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-row">
                                        <label for="equipo" class="control-label col-md-2">Equipo:</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("Equipos", null, htmlAttributes: new { @class = "form-control", @id = "ddlEquipo" })
                                        </div>
                                        <label for="equipo" class="control-label col-md-2">Tipo Trabajo:</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("TipoTrabajo", null, "--Seleccione Tipo Trabajo--", htmlAttributes: new { @class = "form-control", @id = "ddlTipoTrabajo" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-row">
                                        <label for="equipo" class="control-label col-md-2">Técnico Asignado:</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("Tecnicos", null, "--Seleccione Técnico--", htmlAttributes: new { @class = "form-control", @id = "ddlTecnicos" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-detalle" role="tabpanel" aria-labelledby="nav-detalle-tab">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div align="right" style="margin-bottom:5px;">
                                        <button type="button" class="btn btn-outline-secondary" id="btnAdd"><i class='fas fa-plus'></i> Agregar</button>
                                    </div>
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div align="center">
                        <button type="button" class="btn btn-outline-secondary" id="btnRegresar"><i class='fa fade-in-up'></i> Regresar</button>
                        <button type="button" class="btn btn-outline-primary" id="btnSave"><i class='fa fa-save'></i> Guardar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
}

@section scripts{

    <script src="~/JQuery/TablaIdioma.js"></script>

    <script>
        function FunGetClienteEquipo() {

            var _clienteid = $('#ddlCliente').val();
            $("#divCliente").show();
            TblClientes.clear().draw();

            $.ajax({
                url: '/Clientes/FunFillClientes',
                type: 'GET',
                dataType: "JSON",
                data: { cliid: _clienteid },
                success: function (respose) {
                    console.log(respose);
                    $.each(respose, function (index, value) {
                        _clie = value.Cliente;
                        _direc = value.Direccion;
                        _contac = value.Contacto;
                        _tel = value.Telefono;
                        _cel = value.Celular;
                    });
                 
                    TblClientes.row.add([_clie, _direc, _contac, _tel, _cel]).draw();
                }
            });

            $.ajax({
                url: '/Clientes/FunFillEquipos',
                type: 'GET',
                dataType: "JSON",
                data: { cliid: _clienteid },
                success: function (respose) {
                    console.log(respose);
                    $("#ddlEquipo").html("");
                    $("#ddlEquipo").append($('<option></option>').val("0").html("--Seleccione Equipo--"));
                    $.each(respose, function (index, value) {
                        $("#ddlEquipo").append(
                            $('<option></option>').val(value.CodId).html(value.Detalle));
                    });
                }
            });
        }
    </script>
}

