@model WebApplication.Models.Perfiles

@{
    Layout = null;
}


    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="form-inline col-md-12">
                    <label for="perfil" class="control-label col-md-2">Perfil:</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.nombre_perfil, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre_perfil, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="form-inline col-md-12">
                    <label for="estado" class="control-label col-md-2">Activo:</label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.estado_perfil)
                            @Html.ValidationMessageFor(model => model.estado_perfil, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
        
        @*<div class="form-horizontal">          
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.nombre_perfil, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.estado_perfil, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
             
            <div class="form-group">
                @Html.LabelFor(model => model.creacion_perfil, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.creacion_perfil, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.creacion_perfil, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@
    }
    
    @*<div>
        @Html.ActionLink("Regresar", "Index")
    </div>*@

