@model WebApplication.Models.Perfiles

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Perfiles</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre_perfil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre_perfil)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estado_perfil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estado_perfil)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.aux_peri)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.aux_peri)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.aux_perii)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.aux_perii)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.creacion_perfil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.creacion_perfil)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_perfil }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
