@model WebApplication.Models.Usuarios

@{

    Layout = null;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="form-inline col-md-12">
                @*<label for="nombres" class="control-label col-md-2">Perfil:</label>*@
                @Html.Label("Perfil:", htmlAttributes: new { @class = "control-label col-md-2" })
                @*@Html.LabelFor(model => model.id_perfil, "id_perfil", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-9">
                    @*@Html.DropDownList("id_perfil", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.DropDownList("id_perfil", null, "--Selecciones un Perfil--", htmlAttributes: new { @class = "form-control", @id = "DdlPerfil" })
                </div>
            </div>
        </div>
        <hr style="height: 2px; border-width: 0; color:blue; background-color:blue">
        <div class="row">
            <div class="form-inline col-md-12">
                <label for="nombres" class="control-label col-md-2">Nombres:</label>
                @*@Html.LabelFor(model => model.nombre_usuario, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-4">
                    @*@Html.EditorFor(model => model.nombre_usuario, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input class="form-control" id="TxtNombre" maxlength="50" placeholder="ingrese nombres" type="text" style="text-transform:uppercase;" />

                </div>
                <label for="apellidos" class="control-label col-md-2">Apellidos:</label>
                <div class="col-md-4">
                    @*@Html.EditorFor(model => model.apellido_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.apellido_usuario, "", new { @class = "text-danger" })*@
                    <input class="form-control" id="TxtApellido" maxlength="50" placeholder="ingrese apellidos" type="text" style="text-transform:uppercase;" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-inline col-md-12">
                <label for="login" class="control-label col-md-2">Login:</label>
                <div class="col-md-4">
                    @*@Html.EditorFor(model => model.login_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.login_usuario, "", new { @class = "text-danger" })*@
                    <input class="form-control" id="TxtLogin" maxlength="10" placeholder="nombre usuario" type="text" />
                </div>
                <label for="password" class="control-label col-md-2">Contraseña:</label>
                <div class="col-md-4">
                    @*@Html.EditorFor(model => model.password_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password_usuario, "", new { @class = "text-danger" })*@
                    <input class="form-control" id="TxtPassword" maxlength="50" placeholder="contraseña" type="password" />
                </div>
            </div>
        </div>
            
    </div>
   
}

@section scripts{

    
    
    }
