@model IEnumerable<WebApplication.Models.Usuarios>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @*<link rel="stylesheet" href="~/VendorMenu/datatables-bs4/css/dataTables.bootstrap4.min.css">*@

}

<div class="container">

    <div class="well well-lg">
        <a class="btn btn-outline-primary" id="BtnNuevo" data-toggle="modal" href="#myModal"><i class="fas fa-plus"></i> Nuevo</a>
    </div>

    @*<p>
            @Html.ActionLink("Nuevo", "Create", null, htmlAttributes: new { @class = "btn btn-outline-primary" })
        </p>*@

    <table id="tabla" class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th>IdUsuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>
                <th>Perfil</th>
                <th>Opciones</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre_usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido_usuario)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.estado_usuario)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Perfiles.nombre_perfil)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.login_usuario })*@ |
                        <button id="BtnEditar" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>

                        @*@Html.ActionLink("Details", "Details", new { id = item.login_usuario })*@ |
                        <button id="BtnEliminar" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>

                        @*@Html.ActionLink("Delete", "Delete", new { id = item.login_usuario })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section scripts{

    <script src="~/JQuery/TablaIdioma.js"></script>
}