@model IEnumerable<WebApplication.Controllers.ConexionDTO.User>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
    var disable = "";
}

@section styles{
 

}

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background-color: #F6F8FF">
 @*Modal Header*@ 
<div class="modal-header" id="header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
 @*Modal body*@ 
<div class="modal-body">
    <div id="modal-content" data-url='@Url.Action("Create", "Usuarios")'>
        cargando..
    </div>
</div>
 @*Modal footer*@ 
        <div class="modal-footer">       
            <div class="container text-lg-center">
                <div class="btn-group btn-group-justified">
                    <button type="button" class="btn btn-outline-primary btn-sm ml-1" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-outline-success btn-sm ml-1" id="btnGuardar">Guardar</button>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalEdit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background-color: #F6F8FF">
            @*Modal Header*@
            <div class="modal-header" id="header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @*Modal body*@
            <div class="modal-body">
                <div id="modal-content" data-url='@Url.Action("Edit", "Usuarios")'>
                    cargando..
                </div>
            </div>
            @*Modal footer*@
            <div class="modal-footer">
                <div class="container text-lg-center">
                    <div class="btn-group btn-group-justified">
                        <button type="button" class="btn btn-outline-primary btn-sm ml-1" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-outline-success btn-sm ml-1" id="btnGuardarEdit">Guardar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="well well-lg">
    <a class="btn btn-outline-primary" id="btnNuevo" data-toggle="modal" href="#myModal"><i class="fas fa-user-plus"></i></a>
</div>

<p>
    @*@Html.ActionLink("Nuevo", "Create", null, htmlAttributes: new { @class = "btn btn-outline-primary" })*@
</p>

<div class="container">

    <table id="tabla" class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th style="display:none;">IdUsuario</th>
                <th>Perfil</th>
                <th>Usuario</th>
                <th>Login</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>

        </thead>

        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none;">
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perfil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    @{
                        if (item.Login == "admin")
                        {
                            disable = "disabled=disabled";
                        }
                        else
                        {
                            disable = "";
                        }
                    }


                    <td>

                        <button id="btnEditar" @disable class="btn btn-outline-info btn-sm ml-3"><i class="fas fa-edit"></i></button>


                        <button id="btnEliminar" @disable class="btn btn-outline-danger btn-sm ml-3"><i class="fas fa-trash-alt"></i></button>

                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section scripts{

    <script src="~/JQuery/TablaIdioma.js"></script>
    <script src="~/JQuery/Usuarios.js"></script>

}