@model WebApplication.Models.CabeceraEquipos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CabeceraEquipos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creacion_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creacion_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.terminal_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.terminal_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modificacion_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modificacion_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuariomod_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuariomod_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.terminalmod_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.terminalmod_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aux1_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aux1_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aux2_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aux2_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aux3_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aux3_cabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aux4_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aux4_cabecera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cabecera }) |
    @Html.ActionLink("Back to List", "Index")
</p>
