@model WebApplication.Models.CabeceraEquipos

@{
    ViewBag.Title = "Edit";
}

<div class="modal fade" id="modalPARAMETER" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formParam">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="detalle" class="col-form-label">Detalle</label>
                        <input type="text" required class="form-control" id="txtDetalle" maxlength="80" style="text-transform:uppercase;">
                    </div>
                    <div class="form-group">
                        <label for="valorv" class="col-form-label">Codigo Texto</label>
                        <input type="text" class="form-control" id="txtValorV" maxlength="20" style="text-transform:uppercase;">
                    </div>
                    <div class="form-group">
                        <label for="valori" class="col-form-label">Codigo Entero</label>
                        <input type="text" class="form-control" id="txtValorI" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" maxlength="5">
                    </div>
                    <div class="form-check" id="divcheck">
                        <input type="checkbox" class="form-check-input" id="chkEstadoDe">
                        <label for="estadolabel" class="form-check-label" id="lblEstadoDe">Activo</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="row_id" id="hidden_row_id" />
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-outline-success" id="btnAgregar">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">

        <form class="form-horizontal" role="form">
            <div class="form-group col-md-12">
                @Html.HiddenFor(model => model.id_cabecera, new { @id = "txtIdCabecera" })
                <div class="container">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">

                                    <span class="label label-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span style="color:blue">Parametro</span> <i class="fas fa-chevron-down"></i></span>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Parámetro</label>
                                                @Html.EditorFor(model => model.nombre_cabecera, new { htmlAttributes = new { @class = "form-control", @maxLength = "80", @id = "txtParametro", style = "text-transform:uppercase;" } })
                                                <span id="error_parametro" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Descripción</label>
                                                <textarea name="descrip" id="txtDescripcion" class="form-control" maxlength="200" onkeydown="return (event.keyCode!=13);">@ViewBag.Descripcion</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="estado">Estado</label>
                                            <div class="form-check">
                                                @Html.CheckBoxFor(model => model.estado_cabecera, new { @class = "form-check-input", @id = "chkEstadoCab" })
                                                <label for="estadolabel" class="form-check-label" id="lblEstadoCab">@ViewBag.Estado</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <span class="label label-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Detalle <i class="fas fa-chevron-down"></i></span>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div align="right" style="margin-bottom:5px;">
                                                <button type="button" class="btn btn-outline-primary" id="btnAdd"><i class='fas fa-plus'></i> </button>
                                            </div>
                                            <br />
                                            <div class="table-responsive">
                                                <table id="tblDetalle" class="table table-striped table-border table-condensed" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th style="display: none;">IdOrden</th>
                                                            <th>Detalle</th>
                                                            <th>Codigo Texto</th>
                                                            <th>Codigo Entero</th>
                                                            <th>Estado</th>
                                                            <th class="text-center">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach (var item in Model.DetalleEquipos)
                                                            {
                                                                var _estado = item.estado_detalle ? "Activo" : "Inactivo";
                                                                var btnCodigoDe = item.id_detalle;

                                                                <tr id="row_@btnCodigoDe">  
                                                                    <td style="display: none;">
                                                                        @Html.DisplayFor(modelItem => item.id_detalle)
                                                                        <input type="hidden" name="hidden_codigo[]" id="codigo@(btnCodigoDe)" value="@item.id_detalle" />
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.nombre_detalle)
                                                                        <input type="hidden" name="hidden_detalle[]" id="detalle@(btnCodigoDe)" value="@item.nombre_detalle" />
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.valor_detalle)
                                                                        <input type="hidden" name="hidden_valorv[]" id="valorv@(btnCodigoDe)" value="@item.valor_detalle" />
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.valor_detallei)
                                                                        <input type="hidden" name="hidden_valori[]" id="valori@(btnCodigoDe)" value="@item.valor_detallei" />
                                                                    </td>                                

                                                                    <td>
                                                                        @Html.Raw(_estado)
                                                                        <input type="hidden" name="hidden_estado[]" id="estado@(btnCodigoDe)" value="@_estado"/>
                                                                    </td>

                                                                    <td>
                                                                       <div class="text-center">
                                                                           <div class="btn-group">
                                                                               <button type="button" id="@btnCodigoDe" class="btn btn-outline-info btn-sm ml-3 btnEdit"><i class="fas fa-edit"></i></button>

                                                                               <button type="button" id="@btnCodigoDe" class="btn btn-outline-danger btn-sm ml-3 btnDelete"><i class="fas fa-trash-alt"></i></button>
                                                                           </div>
                                                                       </div>

                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div align="center">
                <button type="button" class="btn btn-outline-primary" id="btnRegresar">Regresar</button>
                <button type="button" class="btn btn-outline-success" id="btnSave">Guardar</button>
            </div>
        </form>
    </div>


 }

@section scripts{
    <script src="~/JQuery/EditCabecera.js"></script>
}

